/* 
    Document   : my_styles
    Created on : Jun 14, 2014, 4:40:38 PM
    Author     : miguelhuerta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body
{
    background-color: #4e4e56;
    color: #4e4e56;
}
.header-img
{
    width: 1000px;
    height:150px;
    border: 2px solid #424242;
    margin: 0 auto;
    background-color: #dcd0c0;
    
}
#header-text
{
    text-align: left;
    margin-left: 5px;
    font-size: 70px;
    margin-top: 70px;
    width: 700px;
    height: 70px;
    font-family:'Lobster', cursive;
    color:#424242;
    float: left;
}
.footer
{
    width: 1000px;
    height: 200px;
    background-color: #b1938b;
    border:2px solid #424242;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
.body
{
    width: 1000px;
    min-height: 800px;
    height:auto;
    border: 2px solid #424242;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #dcd0c0;
}
.nav-menu
{
    width:1000px;
    height:40px;
    margin:0 auto;
    border-left: 2px solid #424242;
    border-bottom: 2px solid #424242;
    border-right: 2px solid #424242;
    border-radius: 0 0 8px 8px;
    background-color: #da635d;
}
#nav-menu
{
    width: 500px;
    height: 35px;
    margin:0 auto;
    padding-top: 7px;
    font-size: 25px;
    font-family:'Lobster', cursive;
    color:#4e4e56;
}
#nav-menu ul
{
    list-style-type: none;
}
#footer-links ul
{
    list-style-type: none;
}
#footer-links li
{
    display: list-item;
    margin: 10px;
}
#footer-links li a:hover
{
    color: #da635d;
}
#nav-menu li
{
    display:inline;
    margin:10px;

}

#nav-menu li a:hover
{
    color:#fff;
}
#nav-menu a,#footer-links a,.link-nav a
{
    text-decoration: none;
    color: #4e4e56;
}
#welcome
{
    position: relative;
    width: 990px;
    height: 130px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-left: 10px;
}
#about-label,#project-label,#contact-label,#download-label
{
    position: relative;
    width: 990px;
    height: 70px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-left: 10px;
}
#about-text,#project-text,#contact-text,#download-text
{
    width:200px;
    margin: 30px 5px;
    height: auto;
    border-radius:20px;
    border:1px solid #4e4e56;
    text-align: center;
    background-color: #b1938b;
}
#success-text
{
    width:200px;
    margin: 30px 5px;
    height: auto;
    font-size: 40px;
    text-align: center;
    color:#00620C;
    font-family: 'Lobster', cursive;
}
#welcome-text
{
    width: 500px;
    height: 70px;
    margin: 30px 5px;
    border-radius:20px;
    border:1px solid #4e4e56;
    background-color: #b1938b;
    text-align: center;
}
#description
{
    width:600px;
    font-size: 16px;
    height:150px;
    border-radius:12px;
    padding: 20px;
    margin-left: 200px;
    font-family: sans-serif,arial,verdana;
}
#image-me
{
    position: relative;
    width: 400px;
    height: 370px;
    margin:0 auto;
}
#footer-links
{
    position: relative;
    float: left;
    width:499px;
    height: 150px;
    background-color: #dcd0c0;
    /*font-family: sans-serif,arial,verdana;*/
    font-family: 'Lobster',cursive;
    
}
#copyright
{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    /*font-family: sans-serif,arial,verdana;*/
    font-family: 'Lobster',cursive;
}
#footer-links2
{
    position: relative;
    float: left;
    width:500px;
    height: 140px;
    background-color: #dcd0c0;
    font-family: sans-serif,arial,verdana;
    padding-top: 10px;
}
.link-nav
{
    width:300px;
    margin-left: 20px;
    border: 1px solid #4e4e56;
}
.link-nav a:hover
{
    color:#da635d;
}
.about-me-column,.project-list,#contact-form
{
    position: relative;
    width: 700px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}
#email-text
{
    position: relative;
    width: 500px;
    height:auto;
    margin-left: 20px;
    paddin:20px;
    border:2px solid #4e4e56;
}
#message-success
{
    margin-left: 20px;
    width: 600px;
    height: 100px;
    margin:0 auto;
}
#message
{
    width:500px;
    height:auto;
    margin-left: 20px;
}
#document-table
{
    width:600px;
    height: auto;
    margin: 0 auto;
     margin-top:60px;
    
}
#document-table th
{
    width: 50%;
    background-color: #da635d;
    color:#000;
}
#document-table table
{
    border: 1px solid #4e4e56;
}
#document-table tr:nth-child(2n)
{
    background-color: #b1938b;
}
#document-table td
{
    text-align: center;
}
#grad-img
{
    width: 650px;
    height: 300px;
    margin:0 auto;
    margin-top:20px;
}
